.work {
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__menu-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    &__menu-img {
        @include addaptive-value(width, 150, 80, 1);
    }
    &__card-title {
        text-align: center;
        margin-top: 2rem;
    }
    &__card-item {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 0 1rem;
        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__card-ol {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        max-width: 300px;
        width: 100%;
        position: relative;
        padding-bottom: 2rem;
    }
    &__card-btn {
        margin-top: 1rem;
        padding: 1rem 2.5rem;
        align-self: center;
        border-radius: 0.5rem;
        background-color: #d4d4d4;
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width:768px) {
            position: static;
        }
    }
}
